.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
.pagination {
    display:  flex;
    justify-content: center;
    gap: 10px;
}
.page-num {
    text-decoration: none;
    padding: 10px;
    outline: 1px solid #00695c;
    color: #00695c;
}
.page-num.active {
    
    background-color: #00695c;
    color: #fff;
}